# Core ML
torch
torchvision
numpy<2.0

# Computer Vision & Image Processing
scikit-image
imgaug
opencv-python
timm
einops

# Machine Learning & Utils
scikit-learn
numba
FrEIA
geomloss
faiss-cpu
tensorboard
adeval

# Other Common Utils
tqdm
termcolor
